body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    width: 650px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

h1 {
    text-align: center;
    color: #004d40;
    margin-bottom: 25px;
}

h2 {
    margin-top: 25px;
    color: #00695c;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    border: none;
}

button {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00695c;
}

body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    width: 650px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

h1 {
    text-align: center;
    color: #004d40;
    margin-bottom: 25px;
}

h2 {
    margin-top: 25px;
    color: #00695c;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    border: none;
}

button {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c0a049;
}